@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    margin: 0;
    padding: 0;
}


li:hover{
    background-color: hsla(123, 100%, 80%, 0.37);
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;

}
#home-text:hover{
    border-color: hsla(39, 62%, 43%);
}
